# Sets

In [1]:
# Defining an empty set

In [2]:
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var={'Avengers','Ironman','Hulk'}
print(set_var)
type(set_var)

{'Ironman', 'Avengers', 'Hulk'}

set

In [4]:
# For finding inbuild set functions in python, use tab key after writing variable name. e.g. (set_var.)

set_var.add('Spiderman')

In [5]:
set_var

{'Avengers', 'Hulk', 'Ironman', 'Spiderman'}

In [6]:
set_nu={1,2,3,4,2}
set_nu

{1, 2, 3, 4}

# Indexing in set is not supported

In [7]:
set_var['Avengers']

TypeError: 'set' object is not subscriptable

In [8]:
set_var[0]

TypeError: 'set' object is not subscriptable

# Inbuild function in set

In [9]:
set1={'Avengers','Ironman'}
set2={'Avengers','Ironman','Hulk'}

In [10]:
set2.intersection(set1)

{'Avengers', 'Ironman'}

In [11]:
set1

{'Avengers', 'Ironman'}

In [12]:
set2

{'Avengers', 'Hulk', 'Ironman'}

In [16]:
set2.intersection_update(set1) #In this case set2 value will be updated

In [17]:
set1

{'Avengers', 'Ironman'}

In [18]:
set2

{'Avengers', 'Ironman'}

# Dictionaries 

Dictionary is a collected which is unordered, changeable and indexed. Dictionary is a KEY-VALUE pair.
Dictionary - use curly braces when creating a dictionary

In [21]:
dic={}

In [22]:
type(dic)

dict

In [24]:
# Create a dictionary

my_dict={'Car1':'Audi', 'Car2':'BMW', 'Car3':'Volkswagen'}

In [25]:
type(my_dict)

dict

# Indexing in Dictionaries - Based on Key Value pair not on numbers like 0,1,2,....

In [27]:
my_dict['Car1']

'Audi'

In [28]:
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [33]:
# Looping through dictionayry values
for x in my_dict.values():
    print(x)

Audi
BMW
Volkswagen

In [34]:
# Find both keys and values together

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Volkswagen')

In [38]:
# Search in dictionary
# example searching for how to get the key 
# key of Volkswagen i.e. we are searching for key pair of Volkswagen
result= dict((new_val,new_k) for new_k,new_val in my_dict.items()).get('Volkswagen')
print('Dictionary searched and Car is:', result)

Dictionary searched and Car is: Car3

In [40]:
# example searching for how to get value 

result= dict((new_k,new_val) for new_k,new_val in my_dict.items()).get('Car3')
print('Value of Car3 is', result)

Value of Car3 is Volkswagen

In [41]:
# Adding values in dictionaries

In [42]:
my_dict['Car4']='Maruti'

In [43]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Volkswagen', 'Car4': 'Maruti'}

In [44]:
# Directly change value to previousy assigned key value pair

In [45]:
my_dict['Car1']='Mercedez Benz'

In [46]:
my_dict

{'Car1': 'Mercedez Benz',
 'Car2': 'BMW',
 'Car3': 'Volkswagen',
 'Car4': 'Maruti'}

# Nested Dictionary

In [47]:
car1_model={'Mercedes':1960}

In [48]:
car2_model={'Maruti':1990}

In [49]:
car3_model={'Audi':1970}

In [50]:
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [51]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Maruti': 1990}, 'car3': {'Audi': 1970}}

In [52]:
type(car_type)

dict

In [53]:
# Accesing the item in nested dictionary

In [54]:
print(car_type['car1'])

{'Mercedes': 1960}

In [55]:
print(car_type['car2']['Maruti'])

1990

# Searching in Nested Dictionary -? 
How to do this, search internet and implement it

# Tuples

In [66]:
# You can't change the value of single element in tuple but need to change complete tuple

In [67]:
my_tuple=tuple()

In [68]:
type(my_tuple)

tuple

In [69]:
my_tuple=()

In [70]:
type(my_tuple)

tuple

In [71]:
my_tuple=('Amit','Joshi','Welcome')

# Only two functions are there in tuple

In [74]:

my_tuple.count('Welcome')

1

In [75]:
my_tuple.index('Welcome')

2